.scenes_container {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
}

.scene-4_container, 
.scene-6_container {
  position: relative;
  width: 800px;
  height: 600px;
}

.fullscreen-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  width: 24px;
  height: 24px;
  fill: #DEE2E6;
  z-index: 100;
  transition: 0.3s ease;
}

.fullscreen-icon:hover {
  transform: scale(1.1);
}

.debug_scene_6_container {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
